body {
    position: relative;
    border: 1px solid rgb(165, 140, 144);
    box-shadow: rgba(128, 128, 128, 0.404) 2px 2px 2px;
    width: 90%;
    margin: 10px auto;
}

header {
    position: relative;
    margin-top: 20px;
    display: block;
    padding: 0;
    white-space: nowrap;
}

.logo img {
    padding-left: 15px;
    overflow: hidden;
}

.logo span {
    position: absolute;
    top: 15px;
    margin: 0 0px 0 5px;
    padding-right: 5px;
    display: inline;
    vertical-align: bottom;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: capitalize;
    font-size: xx-large;
    text-shadow: 3px -1px 2px black;
    color: rgb(210, 210, 210);
    overflow: hidden;
    word-wrap: none;
}

nav {
    padding: 0;
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
}

ul {
    margin: 0;
    padding: 0;
    display: block;
    list-style-type: none;
}

li {
    float: left;
    margin: 0;
    padding: 0;
}

li a {
    color: #000;
    font-weight: 600;
    font-size: small;
    word-spacing: 3px;
    letter-spacing: 1px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: block;
    text-align: center;
    padding: 15px 15px;
    text-decoration: none;
    text-transform: uppercase;
}

li a:hover {
    text-decoration: none;
    text-shadow: 0px 0px 2px black;
}

footer {
    position: absolute;
    display: block;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    bottom: 15px;
    font-size: small;
    padding-top: 3em;
}