
#social-tools-widget {
    padding: 15px 0px;
}

.countdown-item {
   padding: 20px 0px;
   border-top-style: solid;
   border-top-width: 1px;
   border-top-color: white;
}



.countdown-index, .countdown-index-resposive {
	background: #FFF;
	width: 60px;
	height: 54px;
	text-align: center;
    float:right;
	vertical-align: middle;
	font-size: 24px;
	font-weight: bold;
	border-radius: 5px;
	padding: 10px;
    margin-right: 15px;}
    .countdown-index-resposive {
        display: none;
        float:none;
        margin: 0 auto;
        margin-bottom: 10px;

    }

@media (max-width:767px) {

    .article_poster {
        padding: 0 !important;
    }

    .countdown-index {
        display: none;
    }

    .countdown-index-resposive  {
        display: block;
    }
}
