<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Session 3 - Do It Yourself 1</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
</head>

<body ng-app="myApp">
    <ion-icon name="calendar-outline"></ion-icon>
    <div class="container" ng-controller="myController">
        <h2 style="margin: 10px;">Session 3 - Do It Yourself 1</h2>
        <hr>
        <form class="form-inline" action="/action_page.php">

            <div class="col-12">
                <strong>Today: </strong><span ng-bind="today|date:'fullDate'"></span>
                <strong>Current time: </strong><span ng-bind="today|date:'mediumTime'"></span>
                <hr style="width: 50%; ">
            </div>

            <label for="price" class="mb-2 mr-sm-2">Basic salary (min: $500):</label>
            <input ng-change="cal()" ng-model="basicSalary" min="500" step="50" type="number" class="form-control mb-2 mr-sm-2" id="basicSalary" placeholder="Enter the basic salary" name="basicSalary">
            <label for="percentage" class="mb-2 mr-sm-2">Bonus percentage:</label>
            <input disabled style="width:60px" ng-change="cal()" ng-model="bonus" min="0" max="100" step="1" type="number" class="form-control mb-2 mr-sm-2" id="percentage" name="percentage">%
        </form>

        <div>
            Total Salary:
            <span class="btn-outline-success" ng-bind="total | currency:'&dollar; '"></span>
        </div>
    </div>
</body>
<script>
    var app = angular.module('myApp', []);
    app.controller('myController', function($scope) {
        $scope.today = new Date();
        $scope.total = 0;
        $scope.basicSalary = 0;
        $scope.bonus = 5;
        $scope.cal = function() {
            $scope.total = $scope.basicSalary + $scope.basicSalary * $scope.bonus * 0.01;
        }
    });
</script>

</html>